<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>FreeSpace</title>
    </head>




<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="#">FreeSpace</a>
            </div>
            <div>
                <a href="signin">Sign In</a>
                <a href="Basket">Basket</a>
            </div>
        </header>

        <!-- <aside>
            Shopping
        </aside> -->
        <main>
            <div class="row center">
                <div class="card">
                    <a href="#">
                        <!-- image size needs to be imlplemented  -->
                        <img class= "medium" src="./images/product-1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Monitor stand</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            £120
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="row center">
            All rights reserved
        </footer>
    </div>
</body>
</html>