<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>FreeSpace</title>
    </head>




<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a href="#">FreeSpace</a>
            </div>
            <div>
                <a href="signin">Sign in</a>
                <a href="Basket">Basket</a>
            </div>
        </header>

        <!-- <aside>
            Shopping
        </aside> -->
        <main class="main">
            <ul>
                <li>Products 1</li>
                <li>Products 2</li>
                <li>Products 3</li>
                <li>Products 4</li>
                <li>Products 5</li>
                <li>Products 6</li>
            </ul>
        </main>
        <footer class="footer">
            All rights reserved
        </footer>
    </div>
</body>
</html>